@use '@gear-js/ui/headings' as *;

.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.heading {
  @extend %h5;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
